#main-row{
    margin: 20px;
}
#topic{
    margin-top: 50px;
    margin-left: 50px;
    margin-bottom: 50px;
}
#login{
    margin: 30px;
}
.navMargin{
    margin-top: 20px;
    margin-bottom: 10px;
}

