@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');


:root{
    --main-color:#d90429;
    --text-color:#020102;
    --bg-color:#fff;
}
/*custom scroll bar*/
html::-webkit-scrollbar{
    width: 0.5rem;
    background: transparent;
}
html::-webkit-scrollbar-thumb{
    border-radius: 5rem;
    background: #162938;

}
section{
    padding: 4rem 0 2rem;
}

*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding:0;
    scroll-padding-top: 1rem;
    scroll-behavior: smooth;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    text-underline: none;
}
img{
    width: 100%;
}
body{
    color: var(--text-color);

}
.container{
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
}

header{
    display: block;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
}
.shadow{
    background: white;
    box-shadow: 4px 4px 20px rgb(15 54 55);
    transition: 0.5s;
}
.nav{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 12px;
}

#menu-icon{
    font-size: 24px;
    cursor: pointer;
    color: var(--text-color);
    display: none;
}


.nav .logo{
    font-size:1.2rem;
    font-weight: 700;
    color: var(--text-color);
    text-decoration: none;
    margin-top: 30px;

}
.logo span{
    color: var(--main-color);
}
.navbar{
    display: flex;
    column-gap: 2rem;
    margin-top: 5px;
}
.navbar ul{
    justify-content: center;
    display: flex;
    text-align: center;
}

.navbar a{
    color: var(--text-color);
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: 500;
    text-decoration: none;
}
.navbar a:hover,
.navbar .active{
    color: var(--main-color);
    border-bottom: 3px solid var(--main-color);
}
.home{
    max-width: 100%;
    margin: auto;
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    background: url("../img/Background-home.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center ;

}

.home-text{
    padding-left: 130px;
}

.home-text h1{
    font-size: 2.4rem;
}

.home-text p{
    font-size: 0.938rem;
    font-weight: 300;
    margin: 0.5rem 0 1.2rem;
}
.btn{
    padding: 10px 22px;
   /*// background: var(--main-color);*/
    background: #162938;
    color: var(--bg-color);
    font-weight: 400;
}
.btn:hover{
    background: #fd052f;
}

.btnLogin-popup{
    width: 100px;
    height: 30px;
    background: transparent;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-weight: 500;
    transition: .5s;
}
.btnLogin-popup:hover{
    background: #fd052f;
    border: white;
    color: white;
}
.wrapper{
    position: relative;
    width: 450px;
    height: 480px;
    background: transparent;
    border: 2px solid rgba(255,255,255,.5);
    border-radius: 20px;
    backdrop-filter: blur(40px);
    box-shadow: 0 0 30px rgba(0,0,0,0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    overflow: hidden;
    transform: scale(0);
    transition: transform .5s ease, height .2s ease;

}
.active-popup{
    transform: scale(1);
}
.wrapper.active{
    height: 780px;
}

.wrapper .form-box{
    width: 100%;
    padding: 25px;
}
.form-box h2{
    font-size: 2rem;
    text-align: center;
    color:#162938;
}
.input-box{
    position: relative;
    width: 100%;
    height: 50px;
    border-bottom: 2px solid #162938;
    margin: 20px 0;

}
.input-box label{
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    font-size: 1em;
    color: #162938;
    font-weight: 500;
    pointer-events: none;
    transition: .5s;
}
.input-box input:focus~label,
.input-box input:valid~label{
    top: -5px;
}

.input-box input{
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1rem;
    color: #162938;
    font-weight: 600;
    padding: 0 35px 0 5px;

}

.input-box .icon{
    position: absolute;
    right: 8px;
    font-size: 1.2rem;
    color: #162938;
    line-height: 57px;
}
#users{
    margin-top: 0;
    width: 100%;
    height: 100%;
    color: #162938;
    border: none;
    outline: none;
    font-size: 1em;
    background: transparent;
}
.btn-login{
    width: 100%;
    height: 45px;
    border: none;
    outline: none;
    /* background: var(--main-color);*/
    background: #162938;
    color: white;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1em;
    font-weight: 500;
}
.login-register{
    font-size: .9rem;
    color: #162938;
    font-weight: 500;
    text-align: center;
    margin: 25px 0 10px;

}
.login-register p a{
    color: #162938;
    text-decoration: none;
    font-weight: 600;
}
.login-register p a:hover{
    text-decoration: underline;
}

.wrapper .icon-close{
    position: absolute;
    top: 0;
    right: 0;
    width: 45px;
    height: 45px;
   /* background: var(--main-color);*/
    background: #162938;
    font-size: 2rem;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom-left-radius: 20px;
    cursor: pointer;
    z-index: 1;

}

#login-context{
    /*display: none;*/
    transition: transform .18s ease;
    transform: translateX(0);
}
.wrapper.active #login-context{
    transition: none;
    transform: translateX(-440px);
}

#register{
    position: absolute;
    transition: none;
    transform: translateX(440px);
}

.wrapper.active #register{
    transition: transform .18s ease;
    transform: translateX(0);
}


/*-----Car section---*/

.heading{
    text-align: center;
}
.heading span{
    font-weight: 500;
    color: var(--main-color);

}
.heading p{
    font-size: 0.938rem;
    font-weight: 300;
}
.carContainer{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(300px,auto));
    gap: 1rem;
    margin-top: 2rem;
}
.carContainer .box{
    padding: 10px;
    border-radius: 1rem;
    box-shadow: 1px 4px 41px rgba(0,0,0,0.1);
}
.carContainer .box .box-img{
    width: 100%;
    height: 200px;
}
.carContainer .box .box-img img{
    width: 100%;
    height: 100%;
    border-radius: 1rem;
    object-fit: cover;
    object-position: center;
}
.carContainer .box .box-img img:hover{
    transform: scale(1.05);
    transition: 0.5s;

}
.carContainer .box h3{
    font-weight: 500;
}
.carContainer .box h2{
    font-size: 1.1rem;
    font-weight: 600;
    color: var(--main-color);
    margin: 0.2rem 0 0.5rem;
}
.carContainer .box h2 span{
    font-size: 0.8rem;
    font-weight: 500;
    color: #162938;
}
.carContainer .box .btn{
    display: flex;
    justify-content: center;
    background:#162938;
    color: #fff;
    padding: 10px;
    border-radius: 0.5rem;
}
.carContainer .box .btn:hover{
    background-color: var(--main-color);
}
/*-----about section---*/

.about{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 1.5rem;
}
.about-img{
    flex: 1 1 21rem;
}
.about-text{
    flex: 1 1 21rem;
}
.about-text span{
    font-weight: 500;
    color: var(--main-color);
}
.about-text h2{
    font-size: 1.7rem;
}
.about-text p{
    font-size: 0.938rem;
    margin: 0.5rem 0 1.4rem;
}

/*-----contact section---*/
.reviews-container{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,auto));
    gap: 1rem;
    margin-top: 2rem;
}
.rev-img{
    width: 70px;
    height: 70px;
}
.rev-img img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
    border: 2px solid #162938;
}

.reviews-container .box{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 20px;
    box-shadow: 1px 4px 41px rgba(0,0,0,0.1);
    border-radius: 0.5rem;
}
.reviews-container .box h2{
    font-size: 1.1rem;
    font-weight: 600;
    margin: 0.5rem 0 0.5rem;

}
.reviews-container .box p{
    font-style: italic;
}
.reviews-container .box .star .bx{
    color: var(--main-color);
}